<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="true">
        <meta content="telephone=no" name="format-detection">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" type="image/png" href="favicon.png" /> -->
        <!--[if (gt IE 9)|!(IE)]><!-->
        <!-- custom CSS -->
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/remodal.css">
        <link rel="stylesheet" href="css/remodal-default-theme.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- END custom CSS -->
        <!--<![endif]-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>审核</title>
        <style>
        .alert{
          position: fixed;
          width: 100%;
          display: none;
          z-index: 100;
          text-align: center;
        }
        .myTabDiv{
          height: 100%;
          background-color: #303d4a;
          padding: 0px !important;
          position: absolute;
          z-index: 99;
        }
        #TabContent{
          float: right;
        }
        #myTab li a{
          margin: 0;
          border: none;
          border-radius: 0;
          color: #fff;
        }
        #myTab li a:hover{
        background-color: #242d37;
        }
        #myTab{
          border: none;
          text-align: center;
        }
        #myTab>li.active>a{
          background-color: #242d37;
        }
        </style>
    </head>
    <body>
        <div class="wrapper-sticky-footer remodal-bg">
            <div class="content-sticky">
                <!-- Header -->
                <header>
                  <div class="header__top">
                    <div class="container">
                      <div class="row" style="height:70px;">
                          <div class="col-sm-3">
                              <div class="wrap-logo">
                                  <a href="/" class="logo"></a>
                              </div>
                          </div>
                          <div class="col-sm-offset-2 col-md-offset-5 col-sm-6 col-md-4 hidden-xs">
                            <div class="col-xs-4 col-sm-5">
                              <p class="userName"></p>
                            </div>
                            <div class="col-xs-6 col-sm-7">
                                <div class="sign">
                                    <a href="./sign"><span>sign</span></a>
                                </div>
                                <div class="logout" style="display:none">
                                    <a href="./logout"><span>logout</span></a>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </header>
                <!-- END header -->
              <div class="row" style="height:100%;position:relative;">
                <div class="alert alert-success" role="alert" id='alertBox-success'>Success!</div>
                <div class="alert alert-danger" role="alert" id='alertBox-danger'>Error!</div>
                <div class="myTabDiv col-md-1">
                  <ul id="myTab" class="nav nav-tabs nav-pills nav-stacked ">
                <!--   	<li class="active"><a href="#news" data-toggle="tab"><i class="fa fa-list fa-lg"></i></a></li>
                  	<li><a href="#admins" data-toggle="tab"><i class="fa fa-users fa-lg"></i></a></li> -->
                      <li class="active"><a href="#news" data-toggle="tab"><i class="fa fa-lg"></i>审核管理</a></li>
                    <li><a href="#admins" data-toggle="tab"><i class="fa fa-lg"></i>权限管理</a></li>
                  </ul>
                </div>
                <div class="tab-content col-md-11" id="TabContent">
                  <div id="news" class="tab-pane fade in active">
                    <div class="wrap wrap_white">
                        <div class="container title">
                            <h1 class="title__h1 underscore">审核管理</h1>
                        </div>
                    </div>
                    <div class="wrap wrap_white pt20">
                        <div class="container">
                            <div class="row">
                                <div class="wrap-thumbnail">

                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div id="admins" class="tab-pane fade in">
                    <div class="wrap wrap_white">
                      <div class="container title">
                            <h1 class="title__h1 underscore">权限管理</h1>
                        </div>
                    </div>
                    <div class="wrap wrap_white pt20">
                        <div class="container wrap_white">
                            <h3>现有管理员</h3>
                            <table class="table table-bordered table-hover">
                              <colgroup>
                                <col style="width:10%">
                                <col style="width:30%">
                                <col style="width:30%">
                                <col style="width:30%">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>管理员</th>
                                  <th>邮箱</th>
                                  <th>操作</th>
                                </tr>
                              </thead>
                              <tbody id='admintable'>

                              </tbody>
                            </table>
                            <h3>新增管理员</h3>
                            <table class="table table-bordered table-hover">
                              <colgroup>
                                <col style="width:10%">
                                <col style="width:30%">
                                <col style="width:30%">
                                <col style="width:30%">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>用户名</th>
                                  <th>邮箱</th>
                                  <th>操作</th>
                                </tr>
                              </thead>
                              <tbody id="usertable">

                              </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Footer -->
            <footer class="footer slate_gray" style="position:relative;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="social navbar-right">
                                <p class="social__text">We are in social networks</p>
                                <ul class="social__list">
                                    <li class="social__item">
                                        <a class="facebook" href="#">
                                            <i class="icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a class="twitter" href="#">
                                            <i class="icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social__item">
                                        <a class="gplus" href="#">
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="remodal" data-remodal-id="modal">
          <button data-remodal-action="close" class="remodal-close"></button>
          <h1>确认？</h1>
          <p>
            确认执行此操作？
          </p>
          <br>
          <button data-remodal-action="cancel" class="remodal-cancel">取消</button>
          <button data-remodal-action="confirm" class="remodal-confirm">确认</button>
        </div>
        <!-- END Footer -->
        <!-- All JavaScript libraries -->
    <script>
    var dataset={
      news:<%- JSON.stringify(news) %>,
      typelist:<%- JSON.stringify(typeList) %>,
      user:<%- JSON.stringify(user) %>
    };
    console.debug(dataset);
    </script>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="js/remodal.min.js"></script>
		<!-- Custom JavaScript -->
        <script src="js/main.js"></script>
    <script>
    function alertMsg(type,msg){
      let state;
      switch (type) {
        case 'success':
          state='成功'
          break;
        case 'danger':
          state='错误'
          break;
      }
      $('#alertBox-'+type).html(`<b>${state}!  </b>${msg}`).fadeIn('slow/400/fast').delay(2000).fadeOut('slow/400/fast');
    }
      $(document).ready(function() {
        //render
        var news=dataset.news;
        var user=dataset.user;
        var thumbnail=$('.wrap-thumbnail');
        if(!user.null){
          $(".sign").hide();
          $(".logout").show();
          $(".userName").text("hello,"+user.name);
        }
        for (var i = 0; i < news.length; i++) {
          thumbnail.append(`
            <div class="thumbnail">
              <div class="thumbnail__news news">
                <p class="news__category underscore">${dataset.typelist[news[i].type-1]}</p>
                <a  class="news__caption">${news[i].name}</a>
                ${news[i].content}
                <div class="btngroup">
                  <button class='btn btn-success pass'>通过</button>
                  <button class='btn btn-danger notpass'>不通过</button>
                </div>
            </div>
          </div>`);
        }
        //ajax render
        var admins;
        var users;
        $.ajax({
          url: '/getUser',
          type: 'POST',
          data: {quanxian:1}
        })
        .done(function(res) {
          //render admin
          admins=res.info;
          let adminstable=$('#admintable');
          for (var i = 0; i < admins.length; i++) {
            let a=admins[i];
            adminstable.append(`
              <tr>
                <th>${i+1}</th>
                <td>${a.name}</td>
                <td>${a.email}</td>
                <td>
                  <button class="btn btn-danger deleteadmin">删除</button>
                </td>
              </tr>`);
          }
          $.ajax({
            url: '/getUser',
            type: 'POST',
            data: {quanxian:0}
          })
          .done(function(res) {
            //render admin
            users=res.info;
            let usertable=$('#usertable');
            for (var i = 0; i < users.length; i++) {
              let a=users[i];
              usertable.append(`
                <tr>
                  <th>${i+1}</th>
                  <td>${a.name}</td>
                  <td>${a.email}</td>
                  <td>
                    <button class="btn btn-success addadmin">提升为管理员</button>
                  </td>
                </tr>`);
            }
            //render end
            btninit();
          });
        });
        //button event
        var inst = $('[data-remodal-id=modal]').remodal();//模态框
        //model event
        function modalevent(callback){
          inst.open();
          $(document).on('confirmation', '.remodal', function () {
            callback();
          });
        }

        function btninit(){
          $('.pass').on('click', function(event) {
            modalevent(()=>{
              let index=$('.pass').index(this);
              $.ajax({
                url: '/pass',
                type: 'POST',
                data: {
                  name: news[index].name,
                  pass: 1
                },
              })
              .done(function(res) {
                console.debug(res);
                if(res.state){
                  alertMsg('success',res.info);
                  $('.thumbnail').eq(index).hide('slow');
                }else {
                  alertMsg('danger',res.info);
                }
              })
              .fail(function() {
                console.log("error");
              })
              .always(function() {
                console.log("complete");
              });
            });
          });

          $('.notpass').on('click', function(event) {
            modalevent(()=>{
              let index=$('.notpass').index(this);
              $.ajax({
                url: '/pass',
                type: 'POST',
                data: {
                  name: news[index].name,
                  pass: 0
                },
              })
              .done(function(res) {
                if(res.state){
                  alertMsg('success',res.info);
                  $('.thumbnail').eq(index).hide('slow');
                }else {
                  alertMsg('danger',res.info);
                }
              })
              .fail(function() {
                console.log("error");
              })
              .always(function() {
                console.log("complete");
              });
            });
          });

          $('.deleteadmin').on('click', function(event) {
            modalevent(()=>{
              let index=$('.deleteadmin').index(this);
              $.ajax({
                url: '/delete',
                type: 'POST',
                data: {
                  name: admins[index].name,
                  type: 'user'
                },
              })
              .done(function(res) {
                if(res.state){
                  alertMsg('success',res.info);
                  setTimeout(function () {
                    location.reload();
                  },500)
                }else {
                  alertMsg('danger',res.info);
                }
              });
            });
          });

          $('.addadmin').on('click', function(event) {
            modalevent(()=>{
              let index=$('.addadmin').index(this);
              $.ajax({
                url: '/addAdmin',
                type: 'POST',
                data: {
                  name: users[index].name,
                  type: 'user'
                },
              })
              .done(function(res) {
                if(res.state){
                  alertMsg('success',res.info);
                  setTimeout(function () {
                    location.reload();
                  },500)
                }else {
                  alertMsg('danger',res.info);
                }
              });
            });
          });
        }
      });
    </script>
    </body>
</html>
